* {
    padding:0; 
    margin:0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding:5px 0;
    background: color #1E90FF;
}
.medsos ul li {
    display: inline-block;
    color: rgb(14, 119, 255);
    margin-right: 10px;
}
.container {
    width: 80%;
    margin:0 auto; 
}
.container:after {
    content:'';
    display: block;
    clear: both;
}
header {
    border:5px solid;
    color: #00BFFF;
}
header h1 {
    float: left;
    padding:15px 0;
    color: #00BFFF;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px; 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #00BFFF;
}
.active {
    background-color: #00BFFF;
    color: #fff;
}
.banner {
    height: 80vh;
    background-image: url('https://wallpapercave.com/wp/wp26320.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner h2 {
    background-color: #00BFFF;
    color: #f5fdff;
    z-index: 1;
    padding: 25px 30px;
    border:3px solid #ffffff;
}